@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.display-flex{
    display: flex;
}


/* header style */



/* navbar related style */
.navbar, .banner{
    justify-content: space-between;
    max-width: 85%;
    margin: 0px auto;
    align-items: center;
}
.border{
    width: 100%;
    border: 1px solid orange;
    border-radius: 5px;
    /* display: none; */
}
.nav-item{
    list-style: none;
    margin-left: 30px;

}
.nav-link{
    text-decoration: none;
    font-size: 20px;
}
#color-1, #text-color-1{
    color: orange;
    font-weight: 700;

}
#text-color-2{
    color: skyblue;
}
#color-2{
    color: skyblue;
    font-weight: 400;
    
}
#color-3{
  color:#05D4DF;
  font-weight: 400;
}
#color-4{
    color: #5D58EF;
    font-weight: 400;
}
/* button style */
.btn{
    background-color: orange;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    border-radius: 12px;
    border: orange;
    width: 160px;
    height: 50px;
}
.btn-primary{
    background-color: black;
    color: #FFFFFF;
    border-radius: 12px;
    font-weight: 700;
    font-size: 1rem;
    width: 140px;
    height: 40px;
}
/* menu style */
.menu-icon{
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 24px;
    cursor: pointer;
    margin-top: 40px;
    display: none;
}
.bar{
    width: 85%;
    height: 4px;
    background-color: #333;
    transition: transform 0.3s ease , opacity 0.3s ease;
    margin-top: -50px;
}
/* banner relater style */
.banner-content{
    max-width: 440px;
    
    
}
.banner-title{
    font-weight: 700;
    font-size: 2.80rem;
}
.banner-discription{
    color: black;
    font-weight: 400px;
    font-size: 1.25rem;
}
/* main section style */
main{
    max-width: 85%;
    margin: 0 auto;
}
.main{
    background-image: url(../assets/bg.png);
}
.main-heading{
    font-weight: 700;
    font-size: 2.85rem;
    text-align: center;
    margin-top: 60px;
}
.main-container{
    display: flex;
    gap: 24px;
    width: 70%;
    margin-left: 180px;


    
}
.mains{
    box-shadow:0px 6px 50px 0px whitesmoke ;
    width: 400px;
    height: 450px;
    border-radius: 18.86px;
    gap: 20px;
    padding: 30px;

    
    
}
.div-color-1{
    background: linear-gradient(#DEF5FF, #ffffff);
    text-align: center;
    

}

.div-color-2{
    background: linear-gradient(#FFF4DC, #ffffff);
    text-align: center;

}

.div-color-3{
    background: linear-gradient(#F2E8FF, #ffffff);
    text-align: center;

}

.main-title{
    font-weight: 700;
    font-size: 1.25rem;
}
.main-description{
    font-weight: 400;
    font-size: 1rem;
    color: #808080;
}
.main-1{
    color: #64C8FF;
    font-weight: 700;
    font-size: 1rem;
}
.main-2{
    color: #F0AA00;
    font-weight: 700;
    font-size: 1rem;
}
.main-3{
    font-weight: 700;
    font-size: 1rem;
    color: #8700FF;
}
/* story section related style */
.bg-color{
    background-image: url(../assets/bg.png);
}

.Stories{
    background: linear-gradient(#FFFFFF, rgba(254, 163, 1, 0.25));
}
.story-content{
    display: grid;
    grid-template-columns:repeat(2, 2fr) ;
    
}
.story-heading{
    font-weight: 700;
    font-size: 2.85rem;
    text-align: center;
    margin-top: 60px;

}
.story-container{
    display: flex;
    gap: 24px;
    width: 70%;
    margin-left: 130px;



}
.big-story{
    border-radius: 16px;
    box-shadow:0px 6px 50px 0px whitesmoke ;
    background-color: white;
    margin: 15px;
    

}
.big-pic, .pic-1, .pic-2, .pic-3, .pic-4{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.img-size{
    background-color: white;
    border-radius: 16px;
    margin: 15px;
    
    
}
.btn-story-1{
    width: 175px;
    height: 60px;
    border-radius: 50px;
    background-color: #05D4DF;
    color: white;
    font-weight: 400;
    font-size: 1rem;
    border: none;
    margin-left: 50px;
    margin-top: -250px;
    

}
.story-head{
    font-weight: 700;
    font-size: 1.75rem;
    text-align: center;
}
.story-description{
    color: #666666;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
}
.story-title{
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
}
.btn-story-2, .btn-story-4{
    width: 185px;
    height: 48px;
    border-radius: 50px;
    background-color: #95B226;
    color: #FFFFFF;
    border: none;
    margin-left: 30px;
    margin-top: -110px;
}
.btn-story-3{
    width: 185px;
    height: 48px;
    border-radius: 50px;
    border: none;
    background-color: #5D58F0;
    color: #FFFFFF;
    margin-left: 30px;
    margin-top: -100px;
}
.btn-story-5{
    width: 127px;
    height: 40px;
    border-radius: 50px;
    background-color: #95B226;
    color: #FFFFFF;
    border: none;
    margin-left: 30px;
    margin-top: -110px;

}
.btn-view{
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 12px;
    font-weight: 700;
    font-size: 1rem;
}
.btn-view-1{
    text-align: center;
    padding: 60px;
}




/* Responsive Related style */
@media screen and (max-width:550px) {
    .navbar{
        flex-direction: row;
    }
    .nav-links, .school, .btn{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-pic{
        /* margin-left: 50px; */
        width: 100%;
    }
    .menu-icon{
            flex-direction: column;
            justify-content: space-around;
            width: 30px;
            height: 24px;
            cursor: pointer;
            margin-top: 40px;
        
            display: block;

        
    }
    .bar{
        width: 85%;
        height: 4px;
        background-color: #333;
        transition: transform 0.3s ease , opacity 0.3s ease;
        margin-top: -50px;
    }
    .main-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: -30px;
        
    }
    
}