@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.display-flex{
    display: flex;
}


/* header style */



/* navbar related style */
.navbar, .banner{
    justify-content: space-between;
    max-width: 85%;
    margin: 0px auto;
    align-items: center;
}
.border{
    width: 100%;
    border: 1px solid orange;
    border-radius: 5px;
    /* display: none; */
}
.nav-item{
    list-style: none;
    margin-left: 30px;

}
.nav-link{
    text-decoration: none;
    font-size: 20px;
}
#color-1, #text-color-1{
    color: orange;
    font-weight: 700;

}
#text-color-2{
    color: skyblue;
}
#color-2{
    color: skyblue;
    font-weight: 400;
    
}
#color-3{
  color:#05D4DF;
  font-weight: 400;
}
#color-4{
    color: #5D58EF;
    font-weight: 400;
}
/* button style */
.btn{
    background-color: orange;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    border-radius: 12px;
    border: orange;
    width: 160px;
    height: 50px;
}
.btn-primary{
    background-color: black;
    color: #FFFFFF;
    border-radius: 12px;
    font-weight: 700;
    font-size: 1rem;
    width: 140px;
    height: 40px;
}
/* menu style */
.menu-icon{
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 24px;
    cursor: pointer;
    display: none;
}
.bar{
    width: 85%;
    height: 4px;
    background-color: #333;
    transition: transform 0.3s ease , opacity 0.3s ease;
    margin-top: -50px;
}
/* banner relater style */
.banner-content{
    max-width: 440px;
    
    
}
.banner-title{
    font-weight: 700;
    font-size: 2.80rem;
}
.banner-discription{
    color: black;
    font-weight: 400px;
    font-size: 1.25rem;
}